
.reveal section img {
  border: 0;
  box-shadow: none;
}

#p_small_gray {
  font-size : 20px ;
  font-color : gray ;
}

#p_white_right {
  font-size : 30px ;
  font-color : #ffffff ;
  position : right ;
}
